#playarea {
  height: 75vh;
  background-color: #34495e;
}
#minion {
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(./images/minion2.png);
  background-size: cover;
  top:100px;
  left:10px;
}
.monster {
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(./images/monster.png);
  background-size: cover;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
}
#ControlSystem{
  margin-top: 2vh;
  /*width: 70vw;*/
  height: 10vh;
  /*position: absolute;*/
  /*left: 50%;*/
  /*transform: translateX(-50%);*/
  text-align: center;
}

.blackHole{
  width: 50px;
  height: 50px;
  top:50%;
  left:50%;
  background-color: #ecf0f1;
  position: absolute;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.btn{
  height:5vh;
  width:5vh;
  border-radius: 50%;
}

#leftSection{
  float:left;
  /*display: inline-block;*/
}

#rightSection{
  float:right;
  /*display: inline-block;*/
}